.About {
    margin-bottom: 70px;
}

@media (min-width: 992px) {
    .About {
        padding-left: 64px;
    }
}

.About-content {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

@media (min-width: 992px) {
    .About-content {
        padding-left: 113px;
        padding-top: 92px;
    }
}

.About-aside {
    max-width: 590px;
}

.About-map {
    position: relative;
}

.About-mask,
.About-google {
    height: 325px;
}

.About-mask {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    color: #000;
    font: inherit;
    display: block;
    opacity: 0;
    outline: 5px dashed #000;
    outline-offset: -15px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.About-mask:focus,
.About-mask:hover {
    opacity: 1;
}

.About-mask[hidden] {
    display: none;
}

.AboutForm {
    border: 5px solid;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    max-width: 811px;
}

.AboutForm-title {
    background-color: #fff;
    display: table;        
    font-family: Alexander;
    font-size: 29px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 23px;
    padding-right: 23px;
    position: relative;
    text-align: center;
    top: -18px;
}

@media (min-width: 576px) {
    .AboutForm-title {
        margin-left: 88px;
    }
}

.AboutForm .wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 44px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 24px;
    width: 100%;
}

.AboutForm p {
    width: 100%;
}

@media (min-width: 992px) {
    .AboutForm p {
        width: 30%;
    }

    .AboutForm p:nth-of-type(3) ~ p {
        width: 100%;
    }
}

.AboutForm .wpcf7-text {
    border: 1px solid #000;
    display: block;
    font-family: Roboto;
    margin-bottom: 24px;
    padding-bottom: 19px;
    padding-left: 18px;
    padding-top: 18px;
    text-transform: uppercase;
    width: 100%;
}

.AboutForm select {
    border: 1px solid #000;
    display: block;
    font-family: Roboto;
    height: 63px;
    margin-bottom: 24px;
    padding-bottom: 19px;
    padding-left: 18px;
    padding-top: 18px;
    text-transform: uppercase;
    width: 100%;
}

.AboutForm textarea {
    border: 1px solid transparent;
    border-bottom-color: #000;
    display: block;
    font-family: Roboto;
    height: 108px;
    margin-bottom: 24px;
    padding-bottom: 19px;
    padding-left: 18px;
    padding-top: 18px;
    width: 100%;
}

.AboutForm .wpcf7-submit {
    background-color: #000;
    border: none;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    height: 41px;
    letter-spacing: 1px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 6px;
    text-transform: uppercase;
}