/*---------------------- Post ----------------------*/

.Post {
	font-family: 'Roboto', sans-serif;
	padding-left: 105px;
	padding-top: 32px;
}
@media (max-width: 560px) {
	.Post {
		padding-left: 0;
	}
}
.Post-wrap {
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	max-width: 938px;
	padding: 0 10px;
}
.PostPath {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0.05em;
	margin-bottom: 68px;
}
.PostPath a {
	color: #4d4d4d;
}
.PostPath a:not(:last-child):after {
	content: '\2022';
	display: inline-block;
	margin-left: 3px;
}
.PostPath a:not(:focus):not(:hover) {
	text-decoration: none;
}
.PostBack a {
	color: #006;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.PostBack-arrow {
	fill: #006;
	margin-right: 7px;
	right: 0;
	transition: 0.2s;
	width: 11px;
}
.PostBack a:hover .PostBack-arrow {
	position: relative;
	right: 2px;
}

/*---------------------- Article ----------------------*/

.Article {
	margin-bottom: 130px;
}
.Article > *:not(.ArticleContent) {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
	padding: 0 10px;
}
.ArticleDate {
	color: #bbb;
	font-size: 12px;
	margin-bottom: 8px;
}
.ArticleTitle {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 51px;
}
.ArticleContent {
	font-size: 14px;
	line-height: 1.49;
	margin-bottom: 42px;
}
.ArticleContent > * {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
	padding: 0 10px;
}
.ArticleContent-wide {
	margin: 40px auto;
	max-width: 1095px;
	padding: 0;
}
.size-full {
	height: auto;
	max-width: 100%;
}
.ArticleTag {
	margin-bottom: 39px;
}
.ArticleTag a {
	color: #bbb;
	font-size: 12px;
}
.ArticleTag a:before {
	content: "#";
	margin-right: 2px;
}

/*------------------- Article Navigation -----------------*/

.ArticleNav {
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	display: flex;
}
.ArticleNav-prev,
.ArticleNav-next {
	width: 50%;
}
@media (max-width: 560px) {
	.ArticleNav {
		flex-direction: column;
	}
	.ArticleNav-prev,
	.ArticleNav-next {
		width: 100%;
	}
}
.ArticleNav a {
	display: block;
	padding: 8px 20px;
	text-decoration: none;
}
.ArticleNav-prev p:first-child,
.ArticleNav-next p:first-child {
	color: #006;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.2em;
	margin-bottom: 9px;
	text-transform: uppercase;
}
.ArticleNav-prev:hover p:first-child,
.ArticleNav-next:hover p:first-child {
	text-decoration: underline;
}
.ArticleNav-prev {
	border-right: 1px solid #bbb;
	text-align: right;
}
@media (max-width: 560px) {
	.ArticleNav-prev {
		border-bottom: 1px solid #bbb;
		border-right: none;
		text-align: left;
	}
	.ArticleNav-prevEmpty {
		border-bottom: none;
	}
}
.ArticleNav-prev p:last-child,
.ArticleNav-next p:last-child {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 3px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
}