.Events {
    margin-bottom: 65px;
}

.EventCalendars {
    display: flex;
    font-family: Roboto, Arial, sans-serif;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 322px;
}

.EventCalendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 27%;
}

.EventCalendarDay {
    font-size: 14px;
    height: 40px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: calc(100% / 7);
}

.EventCalendarDay:not(:nth-of-type(n + 8)) {
    font-weight: 700;
}

.EventCalendarDay--hasEvents {
    font-style: italic;
}

.EventCalendarDay--hasEvents:after {
    background-color: #000;
    border-radius: 50%;
    bottom: 0px;
    content: '';
    height: 8px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 8px;
}

.EventsPosts {}

.EventsPosts-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.EventsPost {
    margin-bottom: 20px;
    max-width: 268px;
    text-align: center;
}

.EventsPost img {
    height: 136px;
    object-fit: cover;
    width: 100%;
}

.EventsPost-title {
    font-size: 14px;
    padding-left: 70px;
    padding-top: 33px;
    text-align: left;
    text-transform: uppercase;
}

.EventsPost-city {}