.HomeLogo {
    position: relative;
}

.HomeLogo-inner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.HomeLogo-img {
    height: auto;
    max-width: 562px;
    width: 60%;
}

.HomeContent {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 992px) {
    .HomeContent {
        padding-left: 41px;
        padding-right: 0;
    }
}

.HomeContent-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
}

.HomeContent-inner {
    display: flex;
    flex-direction: column;
    font-family: Alexander;
    font-size: 24px;
    justify-content: center;
    line-height: 30px;
    min-height: 100vh;
}

@media (min-height: 600px) {
    .HomeContent-inner {
        padding-bottom: 4px;
    }    
}

.HomeContent p {
    margin-bottom: 60px;
}

.HomeContent p:last-child {
    margin-bottom: 0;
}

.HomeExperts {
    font-family: Alexander;    
}

.HomeExperts-container {
    left: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 735px;
    position: relative;
}

.HomeExperts-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 60px;
}

.HomeExperts-title {
    background-color: #fff;
    display: table;
    font-size: 36px;
    margin-bottom: -7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    padding: 15px;
    position: relative;
    z-index: 1;
}

@media (min-width: 992px) {
    .HomeExpert-title {
        margin-left: -15px;
    }
}

.HomeExpert {}

.HomeExpert-decor {
    border: 5px solid;
    bottom: -5px;
    left: 0;
    max-width: 407px;
    position: absolute;
    right: 0;
    top: -29px;
}

@media (min-width: 992px) {    
    .HomeExpert-row {
        display: flex;
    }
}

.HomeExpert-info {
    margin-left: auto;
    margin-right: auto;
    max-width: 395px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: center;
}

@media (min-width: 992px) {
    .HomeExpert-info {
        margin-left: 0;
    }
}

.HomeExpert-title {
    font-size: 27px;
    margin-bottom: 64px;
}

.HomeExpert-content {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 32px;
}

.HomeExpert-more {
    margin-bottom: 61px;
}

.HomeExpert-more a {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

.HomeExpert-photo {
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
}

.HomeExpert-photo img {
    height: auto;
    max-width: 100%;
}

@media (min-width: 992px) {
    .HomeExpert-photo img {
        left: -32px;
        position: relative;        
        top: 12px;
    }
}

.HomePartners {

}

.HomePartners-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.HomePartners-inner {
    min-height: 100vh;
    padding-top: 114px;
}

.HomePartners-title {
    font-family: Alexander;
    font-size: 36px;
    margin-bottom: 65px;
    padding-left: 74px;
}

.HomePartners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 133px;
    padding-left: 82px;
    padding-right: 82px;
}

@media (min-width: 992px) {
    .HomePartners-logos {
        padding-right: 0;
    }
}

.HomePartner {
    display: block;
    margin-bottom: 64px;
    max-width: 132px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

@media (min-width: 992px) {
    .HomePartner {
        width: auto;
    }
}

.HomePartner img {
    height: auto;
    max-width: 100%;
}