.More {
    bottom: 0;
    height: 200px;
    font-family: 'Alexander';
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: 4px;
    top: 264px;
    transform: rotate(270deg);
    transform-origin: left top 0;
}

.More-text {
    color: inherit;
    text-decoration: none;
}