.Footer {
    border-top: 1px solid;
    font-family: Roboto;
    padding-top: 33px;
}

@media (min-width: 992px) {
    .Footer {
        padding-left: 52px;
    }
}

.Footer-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 975px;
    text-align: center;
}

@media (min-width: 992px) {
    .Footer-container {
        flex-direction: row;
        text-align: left;
    }
}

.FooterTitle {
    margin-bottom: 24px;
    text-transform: uppercase;
}

.FooterContacts {
    margin-right: 30px;
    min-width: 225px;
}

.FooterContacts-content {
    font-size: 12px;
    line-height: 22px;
}

.FooterContacts-content > :last-child {
    font-size: 10.5px;
    margin-top: 23px;
}

.FooterAbout {
    margin-right: 30px;
    min-width: 195px;
}

.FooterBranches {}

.Footer ul {
    font-size: 12px;
    line-height: 22px;
    list-style: none;
    padding-left: 0;
}

.Footer li {}

.Footer a {}

.FooterFeedback {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    .FooterFeedback {
        flex: 1;
        text-align: right;
    }
}

.FooterFeedback-btn {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-top: 6px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 10px;
    text-transform: uppercase;
}