.Header {
    border-right: 1px solid #ccc;
    height: 100vh;
    position: fixed;
    text-align: center;
    width: 104px;
}

.Header-item {
    color: inherit;
    display: block;
    margin-bottom: 4px;
}

.Header-item > * {
    font-size: 25px;
    height: auto;
    max-width: 48px;
    width: auto;
}

.Header-search > * {
    transform: rotateY(180deg);
}